.description {
  margin: 0;
  box-sizing: border-box;
  padding-top: 100px;

}

.two-columns {
  width: 80%;
  min-width: 784px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph:nth-child(even) {
  margin-top: 30px;
  margin-bottom: 30px;
}
