.khan {
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
}

.khan__quote {
  width: 790px;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 36px;
}

.khan__quote_author {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.khan__quote-author-subline {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  overflow: hidden;
}

.khan__buy-link {
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
