.kaufman {
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
}
