body {
  max-width: 1920px;
  background-color: #171422;
  color: #ffffff;
  font-family: Gotham Pro;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    90.09deg,
    #9e0b37 0.98%,
    #ffc531 72.22%,
    #9e0b37 99.95%
  );
}

.header-menu {
  display: flex;
  gap: 72px;
  text-align: left;
}

.header__link {
  list-style-type: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.31px;
}

.header__link_active {
  margin-top: 2.5px;
  font-family: Gotham Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.31px;
}

.header__link-list-item {
  width: 51px;
  height: 15px;
  margin-top: 32px;
  opacity: 0px;
  font-family: Gotham Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.31px;
}

.header-button {
  width: 160px;
  height: 49px;
  margin: 15px 0 16px 42px;
  border: none;
  border-radius: 40px;
  opacity: 0px;
  color: #ffffff;
  box-shadow: 4px 4px 20px 0px #df5017cc;
  box-shadow: 4px 4px 6px 0px #ffffff80 inset;
  background: #9e0b37b3;
  font-family: Gotham Pro;
  font-size: 17px;
  font-weight: 400;
  line-height: 16.27px;
}

.why {
  display: flex;
  height: 570px;
  margin-bottom: 100px;
  background-image: linear-gradient(
      123.33deg,
      #df5017 4.42%,
      rgba(223, 80, 23, 0.440343) 22.08%,
      rgba(223, 80, 23, 0.19) 35.36%,
      rgba(223, 80, 23, 0) 52.74%
    ),
    linear-gradient(
      90.01deg,
      #282533 65.15%,
      #282533 65.15%,
      rgba(40, 37, 51, 0.739583) 82.21%,
      rgba(40, 37, 51, 0) 99.99%
    ),
    url("/images/virtual-reality-scenes-depicting-global-connection-00528-02\ 1.png");
}

.why__title {
  width: 820px;
  font-family: Gotham Pro;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  margin: 181px auto;
}

.about {
  display: block;
  margin-bottom: 80px;
}

.about-block {
  display: flex;
  width: 1180px;
  height: 152px;
  margin-left: 250px;
  border-radius: 30px;
  background: linear-gradient(
    90.95deg,
    #ffa462 0%,
    #b45350 21.79%,
    #8a2645 48.93%,
    #291725 84.55%
  );
}

.adobe {
  display: flex;
}

.about__text {
  font-family: Gotham Pro;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
}

.about__text._m {
  margin-left: 250px;
}

.about__text._right {
  text-align: right;
}

.about-count {
  margin-left: 250px;
}

.about-count._s {
  margin-right: 42px;
}

.about__list {
  list-style-type: none;
  margin: 0 370px;
  min-height: 124px;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(3, 268px);
  grid-template-rows: repeat(3, 62px);
}

.container {
  background: #ffffff;
  width: 268px;
  height: 62px;
  margin-top: 40px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  align-self: center;
}

.about-image {
  width: 121.74px;
  height: 40px;
  gap: 0px;
  opacity: 0px;
  margin-left: 70px;
  margin-top: 8px;
}

.corel-group {
  margin-left: 490px;
}

.corel {
  margin-right: 89px;
}

.vectors {
  margin-left: 764px;
}

.groups {
  margin-left: 580px;
}

.group._l {
  margin-left: 450px;
}

.booklets {
  display: flex;
  margin-left: 242px;
  gap: 18px;
}

.booklet._l {
  margin-left: 60px;
}

.gallery {
  position: relative;
  overflow: hidden;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(6, 403px);
  grid-template-rows: repeat(2, 280px);
  gap: 20px;
}

.picture {
  width: 402.5px;
  height: 280px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  animation: gallery 10s linear infinite;
}

@keyframes gallery {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.footer {
  height: 244px;
}
